

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20%;
}


.cabeçalho{
    display: flex;
     height: 10rcap;
     color: white;
}

.logo{
    width: 30%;
}

.botao{
    width: 20%;
    height: 10%;
    box-sizing: border-box;
    border: 2px solid;
    border-color: orangered;
    border-radius: 25px;
    padding: 10px;
   
}

.navegacao{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-right: 50%;
    background: orangered;
}

a{
  text-decoration: none;
  color: #fafafa;
}
a:hover{
  text-decoration: none;
  margin-right: 35px;
  color: orangered;
}


ul:hover{
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    margin-left: 30px;
    width: 40px;
    height: 2rcap;
    
}




.imagem-boneco{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    
}

.boneco{
    width: 100%;
    height: 15rcap;
    padding: 25px;
    
   
}

.imagem-pet{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 400px;
    margin-top: 30px;
   
}

.pet{
    border-radius: 11px;

}

.imagem-watts{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.watts{
    width: 110px;
    
}

.carrinho{
    width: 100px;
   
}










.fundo-carrinho{
    
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 30%;
    height: 30rcap;
    margin-left: 15px;
    
   }
   

   .descricao-titulo{
    display: flex;
    justify-content: space-evenly;
   }
   h2{
    margin-left: 25%;
   }

   .carrinho-produtos{
    display: flex;
    justify-content: space-around;
    
   }

   .imagem-carrinho{
    width: 80px;
    height: 80px;
    
   }

   .botao2{
   
  margin-left: 30%;
   }

   .botao2:hover{
    background-color: black;
    color: white;
   }

   .botao3{
    width: 100%;
    margin-left: 10px;
   }

   .botao3:hover{
    background-color: black;
    color: white;
   }

   
   
.fundo-botao{
    display: flex;
   justify-content: center;
   border-radius: 50px;
   
}







hr{
    margin-right: 100px;
}
.resumo{
    margin-left: 20px;
}
.fundo-resumo{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 30%;
    height: 22rcap;
    margin-left: 15px;
}
 
.fundo-carrinho{
    height: 15rcap;
}

.entrega{
    font-size: 20px;
    font-style: italic;
}

button{
    border-radius: 20px;
    color: black;
    border-color: black;
    
}
.botao4{
    width: 100%;
    height: 5rcap;
    margin-top: 20px;
    font-size: 20px;
}

.botao4:hover{
    background: #08a730;
    color: white;
}

.pagamento{
    height: 40rcap;
    width: 50%;
  
}
