.papel-de-parede{

    background:linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(34, 224, 27) 100%);
}

.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.navegacao{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-right: 50%;
    margin-top: 20px;
}

a{
  text-decoration: none;
  color: #fafafa;
}
a:hover{
  text-decoration: none;
  margin-right: 35px;
  color: #08a730;
}


ul:hover{
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    margin-left: 30px;
    width: 40px;
    height: 2rcap;
    
}

.fundo-nav{
    
    color: rgb(247, 242, 242);
}

fundo-produtos{
    background:linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgb(34, 224, 27) 111%);
      
  }





     .fundo-cards-produtos{
     
     display: flex;
      align-items: center;
      justify-content: center;
    
     }
  
     .plano-produtos:hover{
       border: 2px solid;
        border-color: blueviolet;
        cursor: pointer;
       transition: 0.5s;
     }
     .plano-produtos{
      
      background: beige;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 15%;
      height: 45rcap;
      margin-left: 60px;
  
     }
  
     .texto-desconto{
      border-radius: 15px;
      background: rgb(123, 218, 45);
      color: white;
      width: 80px;
      margin-left: 10px;
      
     }
  
     .imagem-racao{
      width: 80%;
      height: 10rcap;
      margin-top: 20px;
      margin-left: 23px;
      border-radius: 20px;
  
     }
  
     .botao2{
      width: 80%;
      height: 20%;
      border: 1px solid;
      border-color: rgb(79, 207, 19);
      border-radius: 25px;
      padding: 10px;
      margin-left: 25px;
      background: white;
      color: rgb(123, 218, 45);
      font-size: 15px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-radius: 20px;
     }
  
     .botao2:hover{
      background: rgb(123, 218, 45);
      color: white;
      cursor: pointer;
      transition: 0.5s;
     }
  
     .descricao-produto{
      margin-left: 20px;
      font-size: 12px;
     }
  
     .preco{
      color: rgb(149, 85, 223);
      margin-left: 20px;
     }
  
     
  
     .botao4{
      margin-left: 30px;
      margin-top: 25px;
      width: 80%;
      height: 2.5rcap;
      border-radius: 20px;
      background: rgb(118, 175, 33);
      color: rgb(127, 19, 177);
      border: 1px solid;
      border-color: rgb(65, 6, 92);
      box-shadow: -5px 5px;
      
     }
  
     .botao4:hover{
      background: white;
      cursor: pointer;
      transition: 0.5s;
      
     }
     
  
     .botao5{
  
      margin-left: 25px;
      
      width: 80%;
      height: 5rcap;
      border-radius: 20px;
      margin-top: 30px;
      background: rgb(97, 153, 14);
      color: white;
     }
  
     .botao5:hover{
      background: rgb(35, 9, 182);
      cursor: pointer;
      transition: 0.5s;
     }
  
  
  
    .plano-acessorios{
      background: beige;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 15%;
      height: 45rcap;
      margin-right: 20px;
      margin-left: 20px;
      
    }   
  
    .plano-acessorios:hover{
      border: 2px solid;
       border-color: blueviolet;
       cursor: pointer;
      transition: 0.5s;
    }
  
    .texto-desconto2{
      border-radius: 15px;
      background: rgb(123, 218, 45);
      color: white;
      width: 80px;
      margin-left: 10px;
    }
  
    .imagem-acessorio{
      width: 80%;
      height: 10rcap;
      margin-top: 20px;
      margin-left: 23px;
      border-radius: 20px;
  
  
    }
    .botao3{
      width: 80%;
      height: 20%;
      border: 1px solid;
      border-color: rgb(79, 207, 19);
      border-radius: 25px;
      padding: 10px;
      margin-left: 25px;
      background: white;
      color: rgb(123, 218, 45);
      font-size: 15px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-radius: 20px;
      margin-top: 20px;
    }
  
    .botao3:hover{
      background: rgb(123, 218, 45);
      color: white;
      cursor: pointer;
      transition: 0.5s;
     }
  
    .descricao-produto2{
      margin-left: 20px;
      font-size: 12px;
    }
  
    .preco2{
      color: black;
      margin-left: 20px;
    }
  
    .botao6{
      margin-left: 30px;
      margin-top: 25px;
      width: 80%;
      height: 2.5rcap;
      border-radius: 20px;
      background: rgb(118, 175, 33);
      color: rgb(127, 19, 177);
      border: 1px solid;
      border-color: rgb(65, 6, 92);
      box-shadow: -5px 5px;
    }
    .botao6:hover{
      background: white;
      cursor: pointer;
      transition: 0.5s;
    }
  
  
    .botao7{
      margin-left: 25px;
      width: 80%;
      height: 5rcap;
      border-radius: 20px;
      margin-top: 30px;
      background: rgb(97, 153, 14);
      color: white;
    }
  
    .botao7:hover{
      background: rgb(35, 9, 182);
      cursor: pointer;
      transition: 0.5s;
     }
  
  
  
  
     .plano-servicos{
      background: beige;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 15%;
      height: 45rcap;
      
    }   
  
    .plano-servicos:hover{
      border: 2px solid;
       border-color: blueviolet;
       cursor: pointer;
      transition: 0.5s;
    }
  
    .texto-desconto3{
      border-radius: 15px;
      background: rgb(123, 218, 45);
      color: white;
      width: 80px;
      margin-left: 10px;
    }
  
    .imagem-servico{
      width: 80%;
      height: 10rcap;
      margin-top: 20px;
      margin-left: 23px;
      border-radius: 20px;
  
    }
    .botao8{
      width: 80%;
      height: 20%;
      border: 1px solid;
      border-color: rgb(79, 207, 19);
      border-radius: 25px;
      padding: 10px;
      margin-left: 25px;
      background: white;
      color: rgb(123, 218, 45);
      font-size: 15px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-radius: 20px;
      margin-top: 20px;
    }
  
    .botao8:hover{
      background: rgb(123, 218, 45);
      color: white;
      cursor: pointer;
      transition: 0.5s;
     }
  
    .descricao-produto3{
      margin-left: 20px;
      font-size: 12px;
    }
  
    .preco3{
      color: black;
      margin-left: 20px;
    }
  
    .botao9{
      margin-left: 30px;
      margin-top: 20px;
      width: 80%;
      height: 2.5rcap;
      border-radius: 20px;
      background: rgb(118, 175, 33);
      color: rgb(127, 19, 177);
      border: 1px solid;
      border-color: rgb(65, 6, 92);
      box-shadow: -5px 5px;
    }
    .botao9:hover{
      background: white;
      cursor: pointer;
      transition: 0.5s;
    }
  
  
    .botao10{
      margin-left: 25px;
      width: 80%;
      height: 5rcap;
      border-radius: 20px;
      margin-top: 33px;
      background: rgb(97, 153, 14);
      color: white;
    }
  
    .botao10:hover{
      background: rgb(35, 9, 182);
      cursor: pointer;
      transition: 0.5s;
     }
  
  
  
h2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 250%;
}

h1{	
    color: white;
    margin-left: 10px;
}