
.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.logo2{
    width: 500px;
}
.navegacao{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-right: 50%;
    margin-top: 20px;
    background: orangered;
}

a{
  text-decoration: none;
  color: #fafafa;
}
a:hover{
  text-decoration: none;
  margin-right: 35px;
  color: orangered;
}


ul:hover{
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    margin-left: 30px;
    width: 40px;
    height: 2rcap;
    
}

.fundo-nav{
    
    color: rgb(247, 242, 242);
}





     .fundo-cards-produtos{
     
     display: flex;
      align-items: center;
      justify-content: center;
    
     }
  
     .plano-produtos:hover{
       border: 2px solid;
        border-color: orangered;
        cursor: pointer;
       transition: 0.5s;
     }
     .plano-produtos{
      
      background: beige;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 15%;
      height: 45rcap;
      margin-left: 60px;
  
     }
  
     .texto-desconto{
      border-radius: 15px;
      background: orangered;
      color: white;
      width: 80px;
      margin-left: 10px;
      
     }
  
     .imagem-racao{
      width: 80%;
      height: 10rcap;
      margin-top: 20px;
      margin-left: 23px;
      border-radius: 20px;
  
     }
  
     
  
     
     .descricao-produto{
      margin-left: 20px;
      font-size: 12px;
     }
  
     .preco{
      color: rgb(0, 0, 0);
      margin-left: 20px;
     }
  
     
  
     .botao4{
      margin-left: 30px;
      margin-top: 25px;
      width: 80%;
      height: 2.5rcap;
      border-radius: 20px;
      background: rgb(255, 255, 255);
      color: orangered;
      border: 1px solid;
      border-color: orangered;
      box-shadow: -5px 5px;
      
     }
  
     .botao4:hover{
      background: orangered;
      color: white;
      cursor: pointer;
      transition: 0.5s;
      
     }
     
  
     .botao5{
  
      margin-left: 25px;
      
      width: 80%;
      height: 5rcap;
      border-radius: 20px;
      margin-top: 30px;
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
     }
  
     .botao5:hover{
      background: orangered;
      cursor: pointer;
      transition: 0.5s;
     }
  
  
  
    .plano-acessorios{
      background: beige;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 15%;
      height: 45rcap;
      margin-right: 20px;
      margin-left: 20px;
      
    }   
  
    .plano-acessorios:hover{
      border: 2px solid;
       border-color: orangered;
       cursor: pointer;
      transition: 0.5s;
    }
  
    .texto-desconto2{
      border-radius: 15px;
      background: orangered;
      color: white;
      width: 80px;
      margin-left: 10px;
    }
  
    .imagem-acessorio{
      width: 80%;
      height: 10rcap;
      margin-top: 20px;
      margin-left: 23px;
      border-radius: 20px;
  
  
    }
    
    .descricao-produto2{
      margin-left: 20px;
      font-size: 12px;
    }
  
    .preco2{
      color: black;
      margin-left: 20px;
    }
  
    .botao6{
      margin-left: 30px;
      margin-top: 25px;
      width: 80%;
      height: 2.5rcap;
      border-radius: 20px;
      background: rgb(255, 255, 255);
      color: orangered;
      border: 1px solid;
      border-color: orangered;
      box-shadow: -5px 5px;
    }
    .botao6:hover{
      background: orangered;
      color: white;
      cursor: pointer;
      transition: 0.5s;
    }
  
  
    .botao7{
      margin-left: 25px;
      width: 80%;
      height: 5rcap;
      border-radius: 20px;
      margin-top: 30px;
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
  
    .botao7:hover{
      background:orangered;
      cursor: pointer;
      transition: 0.5s;
     }
  
  
  
  
     .plano-servicos{
      background: beige;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 15%;
      height: 45rcap;
      
    }   
  
    .plano-servicos:hover{
      border: 2px solid;
       border-color: orangered;
       cursor: pointer;
      transition: 0.5s;
    }
  
    .texto-desconto3{
      border-radius: 15px;
      background: orangered;
      color: white;
      width: 80px;
      margin-left: 10px;
    }
  
    .imagem-servico{
      width: 80%;
      height: 10rcap;
      margin-top: 20px;
      margin-left: 23px;
      border-radius: 20px;
  
    }
    
    .descricao-produto3{
      margin-left: 20px;
      font-size: 12px;
    }
  
    .preco3{
      color: black;
      margin-left: 20px;
    }
  
    .botao9{
      margin-left: 30px;
      margin-top: 20px;
      width: 80%;
      height: 2.5rcap;
      border-radius: 20px;
      background: rgb(255, 255, 255);
      color: orangered;
      border: 1px solid;
      border-color: orangered;
      box-shadow: -5px 5px;
    }
    .botao9:hover{
      background: orangered;
      color: white;
      cursor: pointer;
      transition: 0.5s;
    }
  
  
    .botao10{
      margin-left: 25px;
      width: 80%;
      height: 5rcap;
      border-radius: 20px;
      margin-top: 33px;
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
  
    .botao10:hover{
      background: orangered;
      cursor: pointer;
      transition: 0.5s;
     }
  
  
  
h2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 250%;
}

h1{	
    color: rgb(0, 0, 0);
    margin-left: 10px;
    display: flex;
    justify-content: center;
}